services:
  redis:
    image: redis:6.2.3-alpine
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - redis:/redis
    networks:
      - internal
      
    ports:
      - 6379:6379
    healthcheck:
      test: [ "CMD", "redis-cli","ping" ]
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - 9200:9200
    networks:
      - internal
    volumes:
      - elasticdata:/usr/share/elasticsearch/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9200" ]
      interval: 30s
      timeout: 10s
      retries: 10
  conductor:
    image: conductoross/conductor-standalone:3.15.0
    #image: orkesio/orkes-conductor-standalone:latest
    environment:
      - CONFIG_PROP=config-es.properties
      - JAVA_OPTS=-Dpolyglot.engine.WarnInterpreterOnly=false -Xms512M -Xmx2G
      - orkes_access_key=
    mem_limit: 7G
    volumes:
      - postgres:/pgdata
      - ./config-es.properties:/app/config/config-es.properties
    stdin_open: true  # sama dengan -i (interactive)
    tty: true   
    networks:
      - internal
    ports:
      - 8080:8080
      - 5001:5000
      - 9001:9001
    depends_on:  
      - redis
      - elasticsearch
    links:
      - redis:rs  
      - elasticsearch:es
    healthcheck:
      test: ["CMD", "curl", "-I", "-XGET", "http://localhost:8080/health"]
      interval: 60s
      timeout: 30s
      retries: 12    
volumes:
  redis:
  postgres:
  elasticdata:

networks:
  internal:
    driver: bridge
